# Configurações do servidor
PORT=3000

# Banco de dados MySQL via Prisma
# Formato: mysql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL="mysql://root:sua_senha@localhost:3306/gestao_financeira"
